dataset/
src/data
tools/first1000.csv
tools/index copy.txt
index/
src/tools/index_tfidf.txt
tools/index_tfidf.txt
tools/words.db
venv/
src/__pycache__
src/gunicorn
src/tools/__pycache__
.venv/
categories_model
sentiment_model
